.g-container{
  gap:1;
  width:100%;
  padding:1.5rem;
  text-align: center;
  background-color: rgb(62, 58, 58);
  height:15rem;
}
.i-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:2rem;
}
.i-container h1{
  color:white;
  font-size: 3rem;
}
.i-container p{
  color:rgb(186, 186, 186);
}
.g-btn{
  border:2px solid white;
  border-radius: .5rem;
  font-size: 1rem;
  padding:6px;
  text-align: center;
  background: rgb(62, 58, 58);
  cursor: pointer;
}
.g-btn:hover{
transform: scale(1.5);
}