.v-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.v-accordian{
  width:800px;
}
.item{
  background-color: aqua;
  margin-bottom: 3px;
  padding:3px 2px;
}
.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title p{
  cursor: pointer;
}
.v-container{
  padding:1.5rem;
  width:100%;
  display: flex;
  justify-content: space-around;
  align-items:center;
  flex-direction: row;
  gap:1rem;
}
.text1{
  color:orange;
  font-size: 2rem;
}
.v-right{
  display: flex;
  flex-direction: column;
  gap:0.5rem;
 
}
.accordian{
  margin-top: 2px;
  border: none;
}
.accordianitem{
background-color: rgb(90, 89, 88);
border:0.8px solid rgb(88, 66, 66);
border-radius: 8px;
overflow: hidden;
margin-bottom: 20px;
}
.acc-item-panel p{

}